body {
	font-family: 'AppleGothic';
	background-color: #F9F8EB;
}

.header {
    width: 100%;
    height: 50px;
    background-color: #FC6A6A;
    color: #FFF;
    font-size: 130%;
    text-align: center;
    line-height: 47px;
    position: fixed;
    top: 0px;
    left: 0px;
} 

#setting {
	width: 92%;
	height: 44px;
	border: 1px solid #979797;  
	background-color: #D8D8D8; 
	margin-top: 75px;
	margin-left: 4%;
}

#settings {
	width: 92%;
	height: 44px;
	border: 1px solid #979797;  
	background-color: #FFF; 
	margin-left: 4%;
}
#settingss {
	width: 92%;
	height: 44px;
	border: 1px solid #979797;  
	background-color: #D8D8D8; 
	margin-left: 4%;
}

#setting p {
	text-align: center;
	padding-top: 15px;
}

#settings p {
	text-align: center;
	padding-top: 15px;
}

#settingss p {
	text-align: center;
	padding-top: 15px;
}

#text {
	width: 88%;
	padding-left: 6%;
	padding-top: 25px;
}

#text p {
	font-size: 20px;
	line-height: 30px;
	text-align: left;
	padding-top: 12px;
}

.footer {
    clear: both;
    width: 100%;
    height: 65px;
    background-color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.nav {
    font-size: 14px;
    color: #919191;
    text-align: center;
    margin-top: 5px;
}

.orange {
    color: #F9B341;
}

.navI {
    text-align: center;
    margin-top: 8px;
}

#nav_home {
    width: 20%;
    height: 65px;
    float: left;
    text-align: center;
    text-decoration: none;
}

#nav_map {
    width: 20%;
    height: 65px;
    float: left;
    text-decoration: none;
}

#nav_wait {
    width: 20%;
    height: 65px;
    float: left;
    text-decoration: none;
}

#nav_setting {
    width: 20%;
    height: 65px;
    float: left;
    text-decoration: none;
}

#nav_menu {
    width: 20%;
    height: 65px;
    float: left;
    text-decoration: none;
}